h1 {
  text-align: center;
}
.container {
  position: relative;
  width: 50%;
  margin-left: 30%;
  margin-right: 15%;
}



.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 15%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}


/* .overlay {
  position: absolute;
  background-color: black;
} */

.grid-item:hover .image {
  opacity: 0.5;
  background-color: black;
}

.grid {

  max-width: 1000px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 200px;
  height: auto;
  float: left;
  margin: 10px 10px 10px 10px;

}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
}
